[access]
	inheritFrom = All-Projects
[project]
	description = Java Developer course from Kodilla. Known techniques: Spring Boot, Hibernate, JDBC, Git, IntelliJ, Spring WEB, Spring MVC, REST API, Gradle, JUnit, Mockito, Thymeleaf, Streams, good patterns, desing patterns, exceptions 
[access "refs/*"]
	owner = group user/AlanGaleza (AlanGaleza)
[access "refs/for/refs/*"]
	read = group user/AlanGaleza (AlanGaleza)
	push = group user/AlanGaleza (AlanGaleza)
	label-Code-Review = -2..+2 group user/AlanGaleza (AlanGaleza)
	label-Verified = -1..+1 group user/AlanGaleza (AlanGaleza)
	rebase = group user/AlanGaleza (AlanGaleza)
	removeReviewer = group user/AlanGaleza (AlanGaleza)
	submit = group user/AlanGaleza (AlanGaleza)
[access "refs/heads/*"]
	read = group user/AlanGaleza (AlanGaleza)
	create = group user/AlanGaleza (AlanGaleza)
	push = +force group user/AlanGaleza (AlanGaleza)
	pushMerge = group user/AlanGaleza (AlanGaleza)
[access "refs/tags/*"]
	push = group user/AlanGaleza (AlanGaleza)
	push = +force group user/AlanGaleza (AlanGaleza)
